body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-item {
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    display: inline-block;
    margin: 10px;
    text-align: center;
    background: #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.2s; /* Animación al hacer hover */
}

.pokemon-item:hover {
    transform: scale(1.05); /* Escala al hacer hover */
}

img {
    width: 100px;
    height: 100px;
}

#pokemon-display {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 10; /* Asegúrate de que esté encima de todo */
    padding: 20px;
    overflow: auto; /* Para que se pueda desplazar si hay mucho contenido */
}

.hidden {
    display: none;
}

#display-content {
    text-align: center; /* Centra el contenido */
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s; /* Animación al hacer hover */
}

button:hover {
    background-color: #0056b3; /* Color al hacer hover */
}
